Practice Lab for Python Strings

In [1]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [2]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [3]:
# Print the first element in the string

print(name[0])

M

In [4]:
# Print the element on index 6 in the string

print(name[6])

l

In [5]:
# Print the element on the 13th index in the string

print(name[13])

o

In [6]:
# Print the last element in the string

print(name[-1])

n

In [7]:
# Print the first element in the string

print(name[-15])

M

In [8]:
# Find the length of string

len("Michael Jackson")

15

In [9]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [10]:
# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

In [11]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [12]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [14]:
# Concatenate two strings

statement = name + " is the best"
statement

'Michael Jackson is the best'

In [16]:
# Print the string for 3 times

3 * "Michael Jackson "

'Michael Jackson Michael Jackson Michael Jackson '

In [17]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [18]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [20]:
# Tab escape sequence
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [21]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [22]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [23]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [24]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [27]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [28]:
# Find the substring in the string.

name.find('Jack')

8

In [29]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

In [31]:
# Write your code below and press Shift+Enter to execute 

a = "1"

In [32]:
# Write your code below and press Shift+Enter to execute

b = "2"

In [33]:
# Write your code below and press Shift+Enter to execute 

c = a + b

In [36]:
"12"

'12'

In [38]:
d = "ABCDEFG"

In [39]:
print(d[:3])

ABC

In [44]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'

In [41]:
print(e[::2])

correct

In [43]:
print("/")

/